{{#partial "content"}}
    <div>
        <h2>Paired Student</h2>
        <div class="table">
            <table class="table" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Paired Students</th>
                    <th>Added Date</th>
                </tr>
                </thead>
                {{#each students}}
                <tbody>
                <tr>
                        <td>{{id}}</td>
                        <td>{{studentName}}</td>
                        <td>{{studentDate}}</td>
                </tr>
                </tbody>
                    {{/each}}
            </table>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}