{{#partial "content"}}
    <div>
        <h2>Paired Student</h2>
        <div class="table">
            <table class="table" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Paired Students</th>
                    <th>Added Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}