{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Student Added</h2>
        <p>The student has been successfully added!!!</p>
        <a href="/" id="button">View students</a>
    </div>
{{/partial}}

{{> layout.hbs}}x